html {
  overflow: auto;
}
body {
  padding: 0 2em;
  overflow: hidden;
}


a {
font-weight:bold;
}

a.selected{
color:white;
text-decoration: none;
}

#content {
font-weight:bold;
  color:#6BD6C4;
font-size:large;
text-shadow:
-1px -1px 0 #d8d8d8,
1px -1px 0 #d8d8d8,
-1px 1px 0 #d8d8d8,
1px 1px 0 #d8d8d8;
}
#content h2 {
 font-size:x-large;
 color:#C63319;
}
#content li{
color:#F19600;
font-weight:bold;
text-shadow:none;
}

#content a{ 
color:#C63319;
font-weight:bold;
text-decoration:none; 
}

#content2 {
font-weight:bold;
  color:#6BD6C4;
font-size:large;
text-shadow:
-1px -1px 0 #d8d8d8,
1px -1px 0 #d8d8d8,
-1px 1px 0 #d8d8d8,
1px 1px 0 #d8d8d8;
}
#content2 h2 {
 font-size:x-large;
 color:#D94538;
}
#content2 li{
color:#F4BB00;
font-weight:bold;
text-shadow:none;
}

#content2 a{ 
color:#D94538;
font-weight:bold;
text-decoration:none; 
}
