html {
  overflow: auto;
}
body {
  padding: 0 2em;
  overflow: hidden;
}


a {
font-weight:bold;
}

a.selected{
color:white;
text-decoration: none;
}

#content {
font-weight:bold;
  color:blue;
font-size:large;
}
#content h2 {
 font-size:x-large;
 color:red;
 text-shadow:none;
}
#content li{
color:#FFEE00;
font-weight:bold;
text-shadow:
-1px -1px 0 black,
1px -1px 0 black,
-1px 1px 0 black,
1px 1px 0 black;  
}

#content li1{
text-shadow:none;
}

#content a{ 
color:#C63319;
font-weight:bold;
text-shadow:none; 
}

#content2 {
font-weight:bold;
  color:blue;
font-size:large;
}
#content2 h2 {
 font-size:x-large;
 color:red;
 text-shadow:none;
}
#content2 li{
color:#FFEE00;
font-weight:bold;
font-weight:bold;
text-shadow:
-1px -1px 0 black,
1px -1px 0 black,
-1px 1px 0 black,
1px 1px 0 black; }

#content2 a{ 
color:#D94538;
font-weight:bold;
text-shadow:none;
}
