<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Strict//EN' 
 'http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd'> 
<html xmlns='http://www.w3.org/1999/xhtml'>

 <head>
  <title>雨にぬれても</title>
  <link rel="stylesheet" type="text/css" href="static/glike.css">
 </head>
<p>
  　――あと一時間か。<br>
　隙間の目立つ時刻表を見て、私は思わず苦笑を漏らす。田舎のバスは本数が少ない。昔は特に異常だと思っていなかったけれど、都会の分刻みのスケジュールを経験した今、この待ち時間はとても珍しく感じられる。<br>
　駅まで歩いていった方がずっと早く着けるのは知っている。にもかかわらず、ここで待っているのは雨が降っているから。そして、一張羅の喪服をダメにしたくないからだ。<br>
　今日は父の葬式だった。突然の訃報に実家へとんぼ返りした私は、喪主の母に言われるがまま目まぐるしく働いた。ふと我に返ったのは焼かれた父の骨を壺に納めた後という始末だった。<br>
　そして今、私は帰りのバスを待っている。直近の仕事を全て放り出してきた私に実家でのんびりという選択肢はなかった。<br>
　だから、手持ちぶさたなこの時間は正直ありがたい。日常に戻る前に一息つくことができるし、何よりやっと、父について考えることができるから。<br>
<br>
　私の父はとても自由な人だった。<br>
　晴れの日に父が家にいることはほとんどなかった。家族に一言もなく出かけるため、その度に私は捜索隊に駆り出されていた。<br>
　探し出すのはいつも大変だった。父は気まぐれで、その日その日で違うことをしていたからだ。<br>
　ある時は、川で魚釣りをしていた。<br>
「……釣果は？」<br>
「上々だ」<br>
　またある時は、丘で昼食をとっていた。<br>
「……見晴らしいいね」<br>
「だろう？ ここで食べる飯は格別なんだ」<br>
　またまたある時は、地元のちびっ子たちとせみ取りをしていた。<br>
「………大量だね」<br>
「ああ、俺の腕もまだまだ捨てたもんじゃない」<br>
　当然、何度も探しに行かされた私は苛立っていた。ただ、仏頂面の我が子に決まって邪気のない笑みを返す父に、私はいつの間にか毒気を抜かれてしまった。<br>
　今日はどこにいるのか、途中からそんな風に考えるようになっていた私は、かくれんぼの鬼の気分だった気がする。<br>
　そんな中、日増しに膨らんでいった疑問があった。<br>
　――父さんはなんでいつも元気なんだろう？<br>
　父は当時農業を営んでいた。仕事はほぼ終わりがなく、面倒な作業は山積みで、それでいて結果に結び付かないこともまま多かった。<br>
　それでも父は、たとえどんな不幸なことがあっても、晴れの日は外へ出かける。その鋼のメンタルは一体どこから来るのだろう。 私には不思議で仕方がなかった。<br>
　その疑問を本人にぶつけてみた。すると、私の横で野原に寝そべっていた父は言った。<br>
「生きているうちはな、大抵しとしと雨が降ってんだ。だから晴れ間を見つけたら、すかさずそこに飛び込むようにしてんのさ」<br>
　父が何を言っているのか、その時の私にはよく分からなかった。<br>
<br>
　不意に、バス停へ光が差し込んだ。物思いから覚め、頭上を見上げると、雲の切れ間から太陽が顔を覗かせていた。<br>
　正直、父の言葉の意味は今もうまく理解できていない。<br>
　だからとりあえず、<br>
「……走ろう」<br>
　目元を拭い、駅に向かって駆け出した。 <br>
