<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Strict//EN' 
 'http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd'> 
<html xmlns='http://www.w3.org/1999/xhtml'>

 <head>
  <title>最高の舞台を</title>
  <link rel="stylesheet" type="text/css" href="static/glike.css">
 </head>
 <p>
  この村には言い伝えがある。内容は特別変わったものではなく、猟師と獣の悲哀を描いた作品。互いの境遇の違いが生み出す悲劇だ。<br>
  正直、聞かされて面白いものではない。ただただ悲しく、そこに教訓らしきものは見当たらない。それでも脈々と語り継がれた話だからと、慣わしとして十五夜の日、今年小学校を卒業する村の子供を神社に集めて物語を上演する会が設けられている。<br>
  そして、今夜がその当日。だから、仕掛けることにした。<br>
「本当にやるんですか？」<br>
「当たり前だろ」<br>
　昭三は舞台袖からちらりと客席をのぞく。大勢の子供たちが眠い目を擦りながら、開演を待っていた。<br>
「ちびっこが待ってるんだ。期待に応えないわけにはいかない」<br>
「大人たちはなんて言いますかね」<br>
　太一は不安そうな顔をしている。今回のことは他の村の連中には誰にも話していない。止められるのは目に見えているからだ。<br>
「なに、騒がれたら責任は全部オレが持つ。お前は脅されて仕方なくって体にしとけばいい」<br>
「というか実際、半ばそんな感じですけど」<br>
「他に頼めるやつがいなくてな。悪い」<br>
　村の年寄りは基本頭が固い。町内会で唯一の若者である太一に白羽の矢を立てるしかなかった。<br>
　太一は小さくため息をつく。それから呆れたような笑顔を見せた。<br>
「まあ、ショウさんの突拍子のなさは今に始まったことじゃありませんし。酒一升で手を打ちますよ」<br>
「ああ。うちの酒蔵で一番の上物をくれてやる」<br>
　昭三は頷き返す。酒一つで無茶を通せるなら安いものだ。<br>
「約束ですよ？」<br>
　太一は念を押し、それから着ぐるみの頭を被る。<br>
　それはデフォルメされたクマの頭部。一際目が大きいそれは今日の日のためにこっそり用意した特注品だった。<br>
開演のブザーが鳴った。<br>
「さて、行くとしますか」<br>
　そう言って、昭三はテンガロンハットを被る。腰には玩具の銃、足には革製の長靴。その姿はどこからどう見てもカウボーイのそれだった。<br>
　太一を連れ、昭三は舞台へと足を踏み出す。<br>
　この舞台の後、村の人間はこぞって昭三に非難を浴びせるに違いない。<br>
　その時は、こう言ってやるつもりだ。<br>
――楽しんだもん勝ちだろ？　いつだってさ。<br>

 </p>
