<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Strict//EN' 
 'http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd'> 
<html xmlns='http://www.w3.org/1999/xhtml'>

 <head>
  <title>筆談</title>
  <link rel="stylesheet" type="text/css" href="static/glike.css">
 </head>
<p>
  　ページをめくる音が続く。<br>
　そこかしこから音が聞こえてくる中、玖志が気になるのは正面から届く音。そろそろ止んでほしいと思うも、その気配は一向になかった。<br>
　――頃合いかな。<br>
　ちらりと腕時計に視線を下ろす。入館から既に１時間は経過している。<br>
　玖志は前を見る。そして正面に座る連れに声をかけた。<br>
「皐月、あのさ――」<br>
　途中で言葉が途切れる。目の前の彼女、皐月は唇に人差し指を当てていた。<br>
　皐月は本にしおりを挟んで手前に置くと、ペンを手に取る。そして、テーブルに開いてあったノートに短くこう書き記した。<br>
『話はここで』<br>
　――またか。<br>
　小さくため息をついた後、玖志はポケットからペンを取り出す。最近はお供のように持ち歩くようになっている。おかげで少し文字が上手くなった気がする。<br>
　玖志は言葉を書き加えた。<br>
『一つききたいんだけど』<br>
『なに？』<br>
『なんでまた図書館？』<br>
　皐月はきょとんと首を傾げた。そこまでおかしな質問だっただろうか。<br>
『いや？』<br>
『嫌じゃないけど。たまには別のとこにも行きたいかな』<br>
　ここ最近、玖志が彼女と過ごす場所は決まってここだった。静かな場所は嫌いではないが、こう何度も来ているとさすがに飽きてくる。<br>
　わずかな間、皐月は沈黙する。やがてこう書き加えた。<br>
『なら、これを読み終えたらそうしよっか』<br>
「………」<br>
　皐月はマイペースな女性だ。口数こそ少ないが、その裏にたくさんの主張を詰め込んでいる。だから、玖志は前もって尋ねた。<br>
『これってどれ？』<br>
　皐月の指がある場所を指し示す。それを見て玖志は思わず苦笑した。<br>
　皐月の指の先にあったのは手前の本――ではなく、その横、堆く積み上げられた書籍の山だった。<br>
　――やっぱり。<br>
　別に、それぞれが違う時間を過ごすことに苦痛は感じていない。好きな読書に没頭している、そんな彼女を眺めるのはむしろ幸福な時間だった。<br>
　ただ、一つ不満を挙げるとすれば、<br>
　――声が聞きたい。<br>
　それだけだった。<br>
　玖志はしばらく皐月の声を聞いていない。具体的に言えば三年。途方もなく長い時間に思える。皐月が遠い高校に進学してから大学で再会するまで、彼はずっと彼女とメッセージのみの付き合いをしていた。<br>
　その間、文字だけのやりとりに物足りなさを感じなかったわけでは勿論ない。たまには電話で話さないか、そう打診したこともある。<br>
『文字の方が気がラク』<br>
　にべもない返事をもらって以来、玖志は現状維持に努めてきた。<br>
　面と向かってなら話してくれるはず。そんな期待を胸に抱いて、玖志は皐月との再会を心待ちにしていた。<br>
　その結果、このありさまだった。<br>
　出かける先は大抵会話を慎むべき場所で、皐月は決まってノートでの筆談を求めた。帰り道だって話は一切しない。ここまで頑なのはさすがに不可解だった。<br>
　――単に話したくないだけって可能性もあるけど。<br>
　嫌な可能性を捨て置いて、玖志はそれとなく皐月の様子を窺う。<br>
　済ました顔で読書を続ける皐月。手にしている本は分厚く、彼女はその最初の十数ページを右手で押さえている。<br>
　玖志は表紙にある本のタイトルを確認する。『ファーストコンタクト』。恐らく小説だろうが、内容はタイトルから察せられない。<br>
　玖志は質問を書き記すと、人差し指で机を二回小突いた。<br>
『なに読んでるの？』<br>
　皐月がノートを一瞥する。すると読書を続けながらも、彼女は器用に返答を書き加えた。<br>
『ジュブナイル』<br>
『あらすじを軽く』<br>
『女の子が宇宙人になった幼なじみとがんばって話そうとするお話』<br>
『なんで宇宙人に？』<br>
　皐月は小さく首を横に振った。どうやらまだそこまで読み進めてはいないらしい。<br>
『分かったら教えて』<br>
『りょうかい』<br>
　その答えが明かされるのはいつだろうか。少なくとも今日でないのは間違いない。<br>
　このまま手を拱いていれば一言も話さず終わる。玖志としては何としても状況を打開したかった。<br>
　何かよい手はないか。玖志は目だけを動かして周りを見渡す。すると窓の外、あるものが目に入った。<br>
　小さなテラス席。外の空気を吸いながら読書ができるように、という職員の思いで設けられたスペースらしい。本焼けへの対策だろう、各席には一際大きなパラソルが立てられていた。<br>
　今日は曇りのためか、利用者は誰もいない。その光景を見て、玖志はある案を閃いた。<br>
　――いけるかも。<br>
　この機会を見逃す手はない。一縷の望みをかけ、玖志はノートにメッセージを書き込んだ。<br>
『その話、俺も読みたいな』<br>
『そう。なら読み終わったらわたすね』<br>
『できれば今すぐ知りたい。そこで一つ提案』<br>
『なに？』<br>
　皐月が目で先を促してくる。わずかに躊躇した後、玖志は答えた。<br>
『読み聞かせてくれないかな。そしたら俺も内容を楽しめる』<br>
　皐月の動きが一瞬止まる。想定内の反応だった。<br>
『ここ、おしゃべり厳禁だけど』<br>
『一度、向こうのテラス席に移動しよう。あそこなら誰の迷惑にもならないし。どうかな？』<br>
　皐月は口元に手を当て、少しの間考え込む。玖志はじっと彼女の返答を待つ。やがて、<br>
『いいよ』<br>
　意外と早く了承をもらうことができた。正直拍子抜けだった。<br>
　重く捉えすぎていたのかもしれない。そう思い直しつつ、玖志は席を立つ。皐月がバッグに本をしまったのを見届けると、彼女を連れ立ってテラスへ向かった。<br>
　やがて二人は、外に出てすぐの席に腰を下ろす。<br>
　皐月はバッグから本を取り出した。緞帳が上がるのを待つ観客の思いで、玖志は彼女の第一声を待った。<br>
　すると、どういうわけか、皐月はさらにバッグから携帯端末を取り出した。それから本をテーブルに置き、最初のページを開く。そのまま１ページ目から順に写真を撮り始めた。<br>
　訝る玖志の前で黙々と作業をこなしていく皐月。やがて数十ページを撮り終えると、手を止め、しばらくの間、端末の操作を続けた。<br>
　そして突然、皐月は玖志の耳元に手を伸ばした。<br>
「一体なに――」<br>
　玖志は反射的に尋ねた。けれど、その答えはすぐ、彼の耳元から聞こえてきた。<br>
「宇宙から戻ってきた琢海は外見に特別変化がなかった。しかし彼が口にする言葉はどれも聞き慣れない発音で――」<br>
　耳に届くのは恐らく皐月が読んでいる本の一節。けれどその理由が、そして訳が分からない。<br>
　放心する玖志に構わず、皐月はバッグからもう一冊のノートを取り出す。そのままテーブルに広げると、コメントを記した。<br>
『朗読アプリ。とった文章をそのまま読み上げてくれるの。寝る前とかに使ってるんだ』<br>
「……そうなんだ」<br>
『ちなみにとった写真はあとで消しとく。安心して』<br>
「わかった」<br>
『ひとまず一章だけ読み込んだから。聞き終わったら教えて』<br>
「了解」<br>
　紙面上でのやりとりではないにもかかわらず、玖志の言葉は固い。まるで腹話術の人形のようだった。<br>
　思考が内にこもる中、玖志は静かに確信した。<br>
　――クロだろうな、これは。<br>
　玖志はポケットから携帯端末を取り出し、テーブルの下で密かにそれを操作する。そして、一人の友人にメッセージを送った。<br>
　ほどなくして端末が震える。先の返事だ。玖志は内容を確認した。<br>
　そして、小さなため息をついた。<br>
「……皐月」<br>
『はやいね。もう聞き終――』<br>
「なんで言わなかったんだ。声が出ないって」<br>
　不意に高い音が響く。<br>
　見れば、皐月がペンを取り落としていた。<br>
「部活の後輩がそっちの高校に進学しててさ。悪いけど、そいつから聞いた」<br>
　何も言わず、皐月は落としたペンを拾う。それから前へ向き直るも、その目は玖志から逸れていた。<br>
『うちでは結構話題になった話なんですけどね』<br>
　そんな前置きの後、返ってきたメッセージには次のような内容が記されていた。<br>
　一人の女子生徒が話す度、誰かが忍び笑いをする。そんな冗談みたいな悪戯が一年間続けられた。事態が表沙汰になった時、彼女は既に声が出せない状態となっていた。残りの二年間彼女は一言も喋らず、そのまま学校を去ってしまった。<br>
「気づけなくてごめん」<br>
　皐月はしばらく黙っていた。<br>
　やがてペンを手に取り、ノートにこう書き加えた。<br>
『別にいいよ。というか気づいてほしくなかったし』<br>
「どうして」<br>
『こっちで何とかしたかったから。本当は玖志に会う前にどうにかするつもりだったんだけど』<br>
「別にそんなこと――」<br>
『ダメ』<br>
　玖志は言葉を途切らせる。荒々しい二文字だった。<br>
『わたしのことはわたしが責任を持たなきゃだめ。じゃないと、』<br>
　不意に皐月の手が止まる。少しの間。後に彼女は書きかけの文に斜線を引き、書き直した。<br>
『わたしは変だから。これ以上迷惑はかけられない』<br>
　皐月は曖昧に笑った。<br>
　――そうか。<br>
　皐月は昔から他とずれた所があった。どうやら彼女はそのことに自覚的だったらしい。<br>
　玖志は苦笑する。それから、おもむろに立ち上がった。<br>
「じゃあ行こうか」<br>
　皐月は訝しんだ顔を見せる。そんな彼女に玖志は言った。<br>
「本捜しだよ。ここは結構広い。失声症関連の本も探せば一冊くらい出てくるはずだ」<br>
　皐月は慌ててペンを走らせた。<br>
『わたしの話聞いてた？　わたしは――』<br>
「今さらだよ」<br>
　玖志は皐月の手を抑える。そして続けて言った。<br>
「皐月が変だってことはとっくに知ってる。迷惑だってまあ、かけられてるんだろう」<br>
　突拍子もない皐月の言動。玖志は小さい頃からずっと驚かされてきた。<br>
「でも」<br>
　だからこそ、<br>
「俺はもっと皐月を知りたいんだ。そんな時間が俺の幸せなんだよ」<br>
　玖志はまっすぐに皐月の目を見た。<br>
　――似た者同士なんだろうな。<br>
　玖志はつくづく思う。皐月がまだ見ぬ物語を愛するように、玖志は彼女を読み解きたいのだ。もっと深く。<br>
「俺はこれからも関わってくよ。君を余さず知るまで、遠慮なく」<br>
　皐月はもう一方の手でペンを取り、何かを記そうとする。<br>
　けれど、すぐにペンを置いた。<br>
「………」<br>
　皐月は小さく笑みを漏らす。そして、<br>
「勝手だね」<br>
　その声は掠れ、弱々しい。けれど確かに、皐月の声だった。<br>
　玖志は笑った。<br>
「お互いさまだ」<br>
</p>
